 body {
    background-color: #000;
    font-family: 'Open Sans', sans-serif;
}
p {
    color: #fff;
}
a {
    text-decoration: none;
}

.transparente {
    background-color: transparent;
}
.negro {
    background-color: #000;
}
.navbar {
    position: fixed;
    width: 95%;
    z-index: 1;
}
.navbar-brand img {
    max-height: 40px;
}
.nav-item {
    margin: 0px 5px;
}
.nav-link {
    padding: .5rem;
    opacity: 1;
}

.carousel-item {
    max-height: 100vh;
}

.nosotros__icono i {
    font-size: 28px;
}
.nosotros__texto p {
    font-weight: 300;
}

.tarjeta {
    margin: .8rem auto;
    width: 80%;
}
.tarjeta-text {
    font-weight: 300;
}

.tarjeta img {
    height: 172px;
}
.tarjeta-title {
    font-weight: 400;
}


form {
    display: flex;
    flex-direction: column;
}
form label {
        padding: .3rem 1rem;
}
.form_item {
        margin: .3rem 0rem;
}
.tooltip {
    font-family: 'Open Sans', sans-serif;
        color: #fff;
    opacity: 1 !important;
}
.tooltip-inner {
    color: #fff;
    font-weight: 300;
}

.rrss i {
    padding: 10px;
    margin: 0px 2px;

    vertical-align: middle;
    color: #fff;
    font-size: 35px;

}

.footer__contenido {
    justify-content: space-between;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    align-items: center;
    width: 70%;
   
}

.footer__contenido {
    flex-direction: row;
}



